/* Container for the entire list */
.list-container {
    text-align: center;
    padding: 25px;
    font-family: Arial, sans-serif;
}


/* List of numbers in a grid layout */
.list {
    display: flex;
   
    justify-items: center;
    margin-bottom: 20px;
}

/* Styling individual items */
.list-item {
    background-color: #25e42b; /* Green background */
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect for each number */
.list-item:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

